extends layout

block content
	.container-fluid
		//Note Editor Modal
		#noteModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						h5#exampleModalLabel.modal-title Please select note details
						button.close(type='button' data-dismiss='modal' aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						span Music Note:
						#noteButtons.btn-group.btn-group-toggle(role='group')
							button.btn.btn-secondary(onclick="selectNote('A')") A
							button.btn.btn-secondary(onclick="selectNote('B')") B
							button.btn.btn-secondary(onclick="selectNote('C')") C
						br
						span Sharp/Flat:
						#sharpOrFlat.btn-group.btn-group-toggle(role='group')
							button.btn.btn-secondary(onclick="selectNote('sharp')") sharp/#
							button.btn.btn-secondary(onclick="selectNote('natural')")  
							button.btn.btn-secondary(onclick="selectNote('flat')") flat/♭
					.modal-footer
						button.btn.btn-secondary(type='button' data-dismiss='modal') Close
						button.btn.btn-primary(onclick='addNodeSubmit()' type='button' data-dismiss='modal' data-toggle='collapse') Save changes
		
		.row.align-items-center
			// Toolbox Section
			#toolbox.col-2
				h3 Toolbox
				span Click a node and drag the edge to another node to connect them.
				br
				br
				#toolbox_main.btn-group.btn-group-toggle(role='group')
					button.btn.btn-primary(type='button' data-toggle='collapse' data-target='#addToolGroup')
						i.fa.fa-plus
						|  Add
					button.btn.btn-warning(type='button' title='Edit Node' data-toggle='collapse' data-target='#editToolGroup')
						i.fa.fa-pencil
						|  Edit
					button.btn.btn-danger.deleteNodeButton(type='button' data-toggle='collapse' data-target='#deleteToolGroup' onclick='network.deleteSelected()')
						i.fa.fa-trash
						|  Delete
				br
				br
				#toolMoreInfo
					// Add Tool Collapse
					#addToolGroup.collapse(data-parent='#toolMoreInfo')
						.btn-group.btn-group-toggle(data-toggle='buttons')
							button.btn.btn-outline-primary(type='button' disabled='')
								i.fa.fa-chevron-right
								|  Node
							BUTTON.btn.btn-secondary(type='button' data-toggle='modal' data-target='#noteModal')
								| Manual
							label.btn.btn-secondary
								input.btn.btn-secondary(type='radio' onchange='toggleAddNode(true)' autocomplete='off')
								| Drag/Drop
						br
						br
						.btn-group.btn-group-toggle(data-toggle='buttons')
							button.btn.btn-outline-primary(type='button' disabled='')
								i.fa.fa-chevron-right
								|  Edge
							label.btn.btn-secondary
								input.btn.btn-secondary(type='radio' onchange='toggleAddEdge(true)' autocomplete='off')
								| On
							label.btn.btn-secondary
								input.btn.btn-secondary(type='radio' onchange='toggleAddEdge(false)' autocomplete='off')
								| Off
					// Edit Tool Collapse
					#editToolGroup.collapse(data-parent='#toolMoreInfo')
						label Click to select a node or edge to edit.
					// Delete Tool Collapse
					#deleteToolGroup.collapse(data-parent='#toolMoreInfo')
						label Click to select a node or edge, then click the delete button above.
				br
				br
				button.btn.btn-success(type='button' onclick='playPressed()')
					i.fa.fa-play
					|  Play Music Mode
			//Network Display Section
			#musicNetwork.col-10
		
		.row
			pre#eventSpan.

