doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
		script(src="/javascripts/jquery-3.2.1.slim.min.js")
		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/popper.min.js")
		script(src="/javascripts/vis-network.min.js")
		script(src="/javascripts/Tone.js")
	body
	
	block content
	script(src="/javascripts/instrument.js")
	script(src="/javascripts/music-graph.js")

