#musicNetwork {
	width: auto;
	height: 500px;
	border: 1px solid lightgray;
	box-shadow: none;
	padding: 0;
}
.vis-network { outline: none; }
#stopMusic {
	display: none;
}
.toolbox_main {
	width: 100%;
	margin: 0;
}
#toolbox {
	margin: 0;
}
.toolboxText {
	padding: 15px;
}
#title {
	margin: 0 auto;
	text-align: center;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.input-group-text {
	border: none;
	box-shadow: none;
	outline: none;
	background-color:transparent;
}